## Problem 4 (*optional*) - Parsing daily temperatures

**This is an optional task for those who want more practice.**

This problem is more challenging as we provide only minimal instructions for completing the given tasks. You will need to search through the pandas documentation (and other resources) for help. We will cover data aggregation in more detail during Lesson 6, so this is a good opportunity to get a head start for next week!

In this problem, the aim is to aggregate the hourly temperature data for Helsinki Kumpula and Rovaniemi weather stations to the daily level. Currently, there are (at most) 3 measurements per hour in the data as you can see from the `YR--MODAHRMN` column (Year-Month-Day-Hour-Minute in Greenwich Mean Time (GMT):

```
    USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0  28450  201705010000  31.0  NaN  NaN       -1
1  28450  201705010020  30.0  NaN  NaN       -1
2  28450  201705010050  30.0  NaN  NaN       -1
3  28450  201705010100  31.0  NaN  NaN       -1
4  28450  201705010120  30.0  NaN  NaN       -1
```

The output should contain mean, max, and min Celsius temperatures for each day (for example, one mean temperature value for the 1st of May and so on).

### What to do

- Your task is to summarize the information for each day by aggregating (grouping) the DataFrame.
- The output should be a new DataFrame where you have calculated the mean, max, and min Celsius temperatures for each day separately based on hourly values.
- Repeat the task for the two data sets you created in Problem 2 (May-August temperatures from Rovaniemi and Kumpula).

Don't forget to:

- Include useful comments in your code
- Push your solution to GitHub

### Hint

You can find help from the [Pandas Official documentation](https://pandas.pydata.org/pandas-docs/stable/) and Google. Don't hestiate to ask for tips in Discord!

In [1]:
import pandas as pd
from data import * 
kumpula = pd.read_csv(
    'data/Kumpula_temps_May_Aug_2017.csv',
    sep=',',
    na_values=['*', '**', '***', '****', '*****', '******'],
    )
rovaniemi = pd.read_csv(
    'data/Rovaniemi_temps_May_Aug_2017.csv',
    sep=',',
    na_values=['*', '**', '***', '****', '*****', '******'],
    )
def decode_date(date_string): 
    year = str(date_string)[:4]
    month = str(date_string)[4:6]
    day = str(date_string)[6:8]
    time = f'{str(date_string)[8:10]}:{str(date_string)[10:]}'
    return year, month, day, time,

kumpula[['MEAN_C']] = "%.2f" %kumpula['Celsius'].mean()
kumpula[['MAX_C']] = kumpula['Celsius'].max()
kumpula[['MIN_C']] = kumpula['Celsius'].min()

rovaniemi[['MEAN_C']] = "%.2f" %rovaniemi['Celsius'].mean()
rovaniemi[['MAX_C']] = rovaniemi['Celsius'].max()
rovaniemi[['MIN_C']] = rovaniemi['Celsius'].min()

kumpula[['Year', 'Month', 'Day', 'TIME']] = kumpula['YR--MODAHRMN'].apply(lambda x: pd.Series(decode_date(x)))
rovaniemi[['Year', 'Month', 'Day', 'TIME']] = rovaniemi['YR--MODAHRMN'].apply(lambda x: pd.Series(decode_date(x)))

kumpula = kumpula.drop('YR--MODAHRMN', axis=1)
rovaniemi = rovaniemi.drop('YR--MODAHRMN', axis=1)

kumpula_may = kumpula[kumpula['Month'] == '05']
rovaniemi_may = rovaniemi[rovaniemi['Month'] == '05']

kumpula_june = kumpula[kumpula['Month'] == '06']
rovaniemi_june = rovaniemi[rovaniemi['Month'] == '06']


print (kumpula_may)
# Для примера я вывел только одну таблицу, тк места в терминале уже не хвататет.

     USAF  TEMP   MAX   MIN  Celsius MEAN_C  MAX_C  MIN_C  Year Month Day  \
0   29980  44.0  44.0  35.0     6.67  14.16  21.11   2.22  2017    05  01
1   29980  48.0  54.0  43.0     8.89  14.16  21.11   2.22  2017    05  01
2   29980  50.0  50.0  34.0    10.00  14.16  21.11   2.22  2017    05  02
3   29980  53.0  61.0  49.0    11.67  14.16  21.11   2.22  2017    05  02
4   29980  47.0  53.0  38.0     8.33  14.16  21.11   2.22  2017    05  03
..    ...   ...   ...   ...      ...    ...    ...    ...   ...   ...  ..
57  29980  55.0  67.0  55.0    12.78  14.16  21.11   2.22  2017    05  29
58  29980  52.0  55.0  40.0    11.11  14.16  21.11   2.22  2017    05  30
59  29980  48.0  56.0  48.0     8.89  14.16  21.11   2.22  2017    05  30
60  29980  49.0  49.0  47.0     9.44  14.16  21.11   2.22  2017    05  31
61  29980  53.0  61.0  49.0    11.67  14.16  21.11   2.22  2017    05  31

     TIME
0   06:00
1   18:00
2   06:00
3   18:00
4   06:00
..    ...
57  18:00
58  06:00
59  18:00
60  06:00
61  18:00

[62 rows x 12 columns]